[Desktop Entry]
Exec=konsole --profile=lunar-lxc
Name=konsole --profile=lunar-lxc
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
