[Desktop Entry]
Name=Jupyter Notebook Classic
Comment=Run Jupyter Notebook
Exec=lxc exec jammy-lxc --user 1000 jupyter-nbclassic %f
Terminal=true
Type=Application
Icon=notebook
StartupNotify=true
MimeType=application/x-ipynb+json;
Categories=Development;Education;
Keywords=python;
